.container{
  /* display: flex; */
  display: grid;
  grid-template-rows: 15% 1fr;
  /* flex-direction: column; */
  gap: 24px;
  height: 100vh;
  width: calc(100% - 155px);
}
.card{
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  transition: all 0.5s ease-in-out;
  padding: 60px;
}

.mainCard{
  justify-content: center;
  align-items: center;
  /* height: 15%; */
  max-height: 150px;
  width: 100%;
}

.secondCard{
  width: 40%;
}

.thirdCard{
  width: 60%;
}

@media screen and (max-width: 1280px) {
  .container{
    width: 100%;
  }
}