:root {
  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #eb7494 0deg,
    #ae77b2 55deg,
    #97b5da 120deg,
    #0099ca 160deg,
    transparent 360deg
  );
  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    #ff8b7e 0deg,
    #e24e6b 160deg,
    #7ed2da 120deg,
    #8bdce0 55deg,
    transparent 360deg
  );
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageSelectorDiv{
  position: absolute;
  padding: 25px;
  right: 5px;
}

.ant-select-selector{
  width: 120px !important;
  border-color: rgba(255, 255, 255, 0.4) !important;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1) !important;
}

.ant-select-selection-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
}

.ant-select-dropdown, .ant-select-item, .ant-select-item-option-selected, .ant-select-item-option-content{
  justify-content: flex-start;
  width: 100%;
  padding: 5px 6px !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.ant-select-item-option-content{
  padding: 0 4px 0 4px;
}