:root {
  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #eb7494 0deg,
    #ae77b2 55deg,
    #97b5da 120deg,
    #0099ca 160deg,
    transparent 360deg
  );
  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    #ff8b7e 0deg,
    #e24e6b 160deg,
    #7ed2da 120deg,
    #8bdce0 55deg,
    transparent 360deg
  );
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/
