.mainDiv {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.hiImTxt{
  font-size: 2.4rem;
  font-weight: 200;
  user-select: none;
}

.myName {
  position: relative;
  -webkit-text-stroke: 2px #0000004f;
  user-select: none;
  font-size: 2.4rem;
  font-weight: 300 !important;
  margin-top: 0 !important;
  color: #00000000 !important;
  padding-right: 0.7rem;
}
.myName::before {
  content: "Nicolas Valdez";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  height: 100%;
  color: black;
  -webkit-text-stroke: 2px black;
  border-right: 2px solid black;
  overflow: hidden;
  animation: nameAnimation 8s linear infinite;
}

@keyframes nameAnimation {
  0%,
  10%,
  100% {
    width: 0%;
    border-right: 2px solid black;
  }
  30% {
    width: 100%;
    border-right: 2px solid black;
  }
  40% {
    border-right: none;
  }
  60% {
    border-right: none;
  }
  80% {
    border-right: none;
  }
  90% {
    width: 100%;
  }
}

.clickDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 100%;
  height: 50vh;
}

@media screen and (max-width: 768px) {
  .hiImTxt, .myName {
    font-size: 2rem;
  }
  .mainDiv::before {
    height: 90vh;
  }
  
  .mainDiv::after {
    width: 75vw;
    height: 80vh;
    top: 0;
  }
}