.mainDiv{
  width: 90vw;
  /* min-width: 1240px; */
  max-width: 1720px;
  margin: 0 auto; 
}

.coloredCircles {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  border-radius: 50%;
  width: calc(50vw + 50px);
  filter: blur(90px);
}

.coloredCircles.first {
  background: var(--third-glow);
  height: 96vh;
  margin-left: -175px;
  top: 0;
  left: calc(50vw);
}

.coloredCircles.second {
  background: var(--secondary-glow);
  max-width: 600px;
  height: 700px;
  top: calc(50vh - 50vw / 2);
  left: calc((50vw - 50vw / 2) - 50px);
}

.topBarDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255,255,255,0.35);
  box-shadow: 0 0 15px 0px rgba(25, 25, 25, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.6);
  padding: 0 20px;
  margin-top: 12px;
  width: 100%;
  border-radius: 18px;
  backdrop-filter: blur(5px);
}

.navDiv {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #d8d8d8;
}

.navElements{
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 1rem;
}

.navElements:first-child{
  /* background-color: white; */
}

@media screen and (max-width: 1280px) {
  .mainDiv{
    width: 99%;
  }
}
/* @media (prefers-color-scheme: dark) {
  .contentDiv{
    background-color: transparent !important;
  }
  .sideBarDiv{
    background-color: rgb(40,40,70,0.35);
  }
  .sectionDiv{
    border-bottom: 1px solid gray;
  }
  .sectionElements{
    border-top: 1px solid gray;
  }
} */